body {
  margin: 0px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}

#lukeSkywalker {
  padding: 30px;
}

#darthVader {
  padding: 30px;
}

button {
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  color: inherit;
  font-size: 18px;
  margin-left: 30px;
  padding: 10px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}
